<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Director.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Director.Properties.Settings>
            <setting name="app_version" serializeAs="String">
                <value>0.1a</value>
            </setting>
            <setting name="authors" serializeAs="String">
                <value>Jan Strnadek, David Pejrimovsky, Vaclav Stengl, Dana Lunterova</value>
            </setting>
        </Director.Properties.Settings>
    </applicationSettings>
</configuration>